In [1]:
import json 
import pandas as pd
import requests
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [2]:
def get_data(url):
    response = requests.get(url)  
    d = response.json()
    # Normalizing data
    total_df = pd.json_normalize(d, errors='ignore')
    return total_df

In [3]:
def extract_column(df,column_name):
    df = df.explode(column_name)
    df = pd.json_normalize(df[column_name])
    return df

In [8]:
# Define the URL
url='https://data.covid19india.org/v4/min/data.min.json'
# Call the get_data() to retrieve the URL JSON file data
dataset = get_data(url)

In [9]:
dataset

,AN.delta.tested,AN.delta.vaccinated1,AN.delta.vaccinated2,AN.delta21_14.confirmed,AN.delta7.confirmed,AN.delta7.recovered,AN.delta7.tested,AN.delta7.vaccinated1,AN.delta7.vaccinated2,AN.districts.Nicobars.delta7.vaccinated1,...,WB.meta.population,WB.meta.tested.date,WB.meta.tested.source,WB.meta.vaccinated.date,WB.total.confirmed,WB.total.deceased,WB.total.recovered,WB.total.tested,WB.total.vaccinated1,WB.total.vaccinated2
0,1376,3,13,9,3,5,8936,884,10640,62,...,96906000,2021-10-31,https://www.wbhealth.gov.in/uploaded_files/cor...,2021-10-31,1592908,19141,1565471,19228303,56192166,21559747

In [10]:
case_time_df = pd.read_csv('https://data.covid19india.org/csv/latest/case_time_series.csv')
case_time_df

,Date,Date_YMD,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January 2020,2020-01-30,1,1,0,0,0,0
1,31 January 2020,2020-01-31,0,1,0,0,0,0
2,1 February 2020,2020-02-01,0,1,0,0,0,0
3,2 February 2020,2020-02-02,1,2,0,0,0,0
4,3 February 2020,2020-02-03,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...
636,27 October 2021,2021-10-27,16351,34231030,17077,33606620,734,455828
637,28 October 2021,2021-10-28,14307,34245337,13189,33619809,805,456633
638,29 October 2021,2021-10-29,14215,34259552,13549,33633358,551,457184
639,30 October 2021,2021-10-30,12940,34272492,14672,33648030,445,457629
640,31 October 2021,2021-10-31,12907,34285399,13152,33661182,251,457880

In [11]:
states_df = pd.read_csv('https://data.covid19india.org/csv/latest/states.csv')
states_df

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,NaN
1,2020-01-30,India,1,0,0,0,NaN
2,2020-02-02,Kerala,2,0,0,0,NaN
3,2020-02-02,India,2,0,0,0,NaN
4,2020-02-03,Kerala,3,0,0,0,NaN
...,...,...,...,...,...,...,...
21670,2021-10-31,Tripura,84468,83466,813,63,1983127.0
21671,2021-10-31,India,34285612,33661339,458470,13197,609201294.0
21672,2021-10-31,Uttar Pradesh,1710158,1687151,22900,0,83635222.0
21673,2021-10-31,Uttarakhand,343896,330195,7400,6150,7781148.0
21674,2021-10-31,West Bengal,1592908,1565471,19141,0,19228303.0

In [12]:
district_df = pd.read_csv('https://data.covid19india.org/csv/latest/districts.csv')
district_df

,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested
0,2020-04-26,Andaman and Nicobar Islands,Unknown,33,11,0,0,NaN
1,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN
2,2020-04-26,Andhra Pradesh,Chittoor,73,13,0,0,NaN
3,2020-04-26,Andhra Pradesh,East Godavari,39,12,0,0,NaN
4,2020-04-26,Andhra Pradesh,Guntur,214,29,8,0,NaN
...,...,...,...,...,...,...,...,...
358628,2021-10-31,West Bengal,Purba Bardhaman,42005,41588,198,0,NaN
358629,2021-10-31,West Bengal,Purba Medinipur,63098,62549,397,0,NaN
358630,2021-10-31,West Bengal,Purulia,19419,19283,113,0,NaN
358631,2021-10-31,West Bengal,South 24 Parganas,100957,98950,1336,0,NaN
358632,2021-10-31,West Bengal,Uttar Dinajpur,19858,19559,238,0,NaN

In [14]:
stwise_daily_df = pd.read_csv('https://data.covid19india.org/csv/latest/state_wise_daily.csv')
stwise_daily_df

,Date,Date_YMD,Status,TT,AN,AP,AR,AS,BR,CH,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,2020-03-14,Confirmed,81,0,1,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,14-Mar-20,2020-03-14,Recovered,9,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,14-Mar-20,2020-03-14,Deceased,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,2020-03-15,Confirmed,27,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
4,15-Mar-20,2020-03-15,Recovered,4,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786,30-Oct-21,2021-10-30,Recovered,14672,1,535,10,371,2,2,...,27,1,3,1172,191,8,9,6,880,0
1787,30-Oct-21,2021-10-30,Deceased,445,0,2,0,4,0,0,...,1,0,0,14,1,0,0,0,13,0
1788,31-Oct-21,2021-10-31,Confirmed,12907,0,385,1,212,8,5,...,26,2,21,1009,121,12,6,5,914,0
1789,31-Oct-21,2021-10-31,Recovered,13152,0,675,9,236,9,3,...,25,2,8,1183,183,2,6,9,913,0
1790,31-Oct-21,2021-10-31,Deceased,251,0,4,0,1,0,0,...,1,0,1,19,1,0,0,0,15,0

In [15]:
stwise_df = pd.read_csv('https://data.covid19india.org/csv/latest/state_wise.csv')
stwise_df

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,34285612,33661339,458470,152606,13/08/2021 23:27:22,13197,TT,0,0,0,NaN
1,Andaman and Nicobar Islands,7651,7518,129,4,13/08/2021 23:27:22,0,AN,0,0,0,NaN
2,Andhra Pradesh,2066450,2047722,14373,4355,13/08/2021 23:27:22,0,AP,0,0,0,NaN
3,Arunachal Pradesh,55155,54774,280,101,13/08/2021 23:27:22,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
4,Assam,610645,600974,5997,2327,13/08/2021 23:27:22,1347,AS,0,0,0,[Jan 1]: 1347 cases i.e Covid +'tive patients ...
5,Bihar,726098,716390,9661,46,13/08/2021 23:27:22,1,BR,0,0,0,[June 9] : 3951 deceased cases have been repor...
6,Chandigarh,65351,64495,820,36,13/08/2021 23:27:22,0,CH,0,0,0,NaN
7,Chhattisgarh,1006052,992159,13577,316,13/08/2021 23:27:22,0,CT,0,0,0,NaN
8,Dadra and Nagar Haveli and Daman and Diu,10681,10644,4,2,13/08/2021 23:27:22,31,DN,0,0,0,NaN
9,Delhi,1439870,1414431,25091,348,13/08/2021 23:27:22,0,DL,0,0,0,[July 14]: Value for the total tests conducted...
10,Goa,178108,174392,3364,352,13/08/2021 23:27:22,0,GA,0,0,0,NaN
11,Gujarat,826577,816283,10089,205,13/08/2021 23:27:22,0,GJ,0,0,0,NaN
12,Haryana,771252,761068,10049,135,13/08/2021 23:27:22,0,HR,0,0,0,NaN
13,Himachal Pradesh,224106,218410,3738,1942,13/08/2021 23:27:22,16,HP,0,0,0,NaN
14,Jammu and Kashmir,332249,326915,4432,902,13/08/2021 23:27:22,0,JK,0,0,0,NaN
15,Jharkhand,348764,343518,5138,108,13/08/2021 23:27:22,0,JH,0,0,0,NaN
16,Karnataka,2988333,2941578,38082,8644,13/08/2021 23:27:22,29,KA,0,0,0,NaN
17,Kerala,4968657,4857181,31681,79266,13/08/2021 23:27:22,529,KL,0,0,0,NaN
18,Ladakh,20962,20687,208,67,13/08/2021 23:27:22,0,LA,0,0,0,NaN
19,Lakshadweep,10365,10270,51,0,13/08/2021 23:27:22,44,LD,0,0,0,NaN
20,Madhya Pradesh,792854,782215,10524,115,13/08/2021 23:27:22,0,MP,0,0,0,[14 Oct'20]: 4469 confirmed cases and 4469 rec...
21,Maharashtra,6611078,6450585,140216,16658,13/08/2021 23:27:22,3619,MH,0,0,0,"[Dec 16]:10,218 duplicate cases & other state ..."
22,Manipur,123731,121102,1921,708,13/08/2021 23:27:22,0,MN,0,0,0,[Dec 14]:824 out of 980 recovered cases are ba...
23,Meghalaya,83627,81746,1450,431,13/08/2021 23:27:22,0,ML,0,0,0,NaN
24,Mizoram,121359,114612,432,6315,13/08/2021 23:27:22,0,MZ,0,0,0,NaN
25,Nagaland,31842,29904,685,210,13/08/2021 23:27:22,1043,NL,0,0,0,NaN
26,Odisha,1041457,1029147,8386,3924,13/08/2021 23:27:22,0,OR,0,0,0,[July 12th] :20 non-covid deaths reported in s...
27,Puducherry,128013,125726,1857,430,13/08/2021 23:27:22,0,PY,0,0,0,NaN
28,Punjab,602401,585591,16559,251,13/08/2021 23:27:22,0,PB,0,0,0,NaN
29,Rajasthan,954429,945443,8954,32,13/08/2021 23:27:22,0,RJ,0,0,0,NaN
30,Sikkim,31979,31063,396,195,13/08/2021 23:27:22,325,SK,0,0,0,NaN
31,State Unassigned,0,0,0,0,13/08/2021 23:27:22,0,UN,0,0,0,MoHFW website reports that these are the 'case...
32,Tamil Nadu,2702623,2655015,36116,11492,13/08/2021 23:27:22,0,TN,0,0,0,[June 29 2021]: TN has introduced a new distri...
33,Telangana,671463,663498,3956,4009,13/08/2021 23:27:22,0,TG,0,0,0,[July 27] : Telangana bulletin for the previou...
34,Tripura,84468,83466,813,126,13/08/2021 23:27:22,63,TR,0,0,0,[Aug 4]: Tripura bulletin for the previous day...
35,Uttar Pradesh,1710158,1687151,22900,107,13/08/2021 23:27:22,0,UP,0,0,0,[Jan 1]:As no bulletin was provided for 31'st ...
36,Uttarakhand,343896,330195,7400,151,13/08/2021 23:27:22,6150,UT,0,0,0,[Oct 30]: Metric of capturing the testing data...
37,West Bengal,1592908,1565471,19141,8296,13/08/2021 23:27:22,0,WB,0,0,0,NaN

In [16]:
dstwise_df = pd.read_csv('https://data.covid19india.org/csv/latest/district_wise.csv')
dstwise_df

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,District-wise numbers are out-dated as cumulat...,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,760,TG,Telangana,TG_Unknown,Unknown,1373,-665500,662947,3926,0,0,0,0,0,NaN,NaN
798,761,TR,Tripura,TR_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
799,762,UP,Uttar Pradesh,UP_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
800,763,UT,Uttarakhand,UT_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN
801,764,WB,West Bengal,WB_Unknown,Unknown,0,0,0,0,0,0,0,0,0,NaN,NaN

In [17]:
stwise_tested_df = pd.read_csv('https://data.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')
stwise_tested_df

C:\Users\grees\AppData\Local\Temp\ipykernel_37776\519717655.py:1: DtypeWarning: Columns (4,16,30,43,44,46,50) have mixed types. Specify dtype option on import or set low_memory=False.
  stwise_tested_df = pd.read_csv('https://data.covid19india.org/csv/latest/statewise_tested_numbers_data.csv')

,Updated On,State,"RT-PCR Test(Includes TrueNat,CBNAAT,CRISPR)",RAT(Rapid Antigen Test),Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,...,Male(Confirmed Cases),Female(Confirmed Cases),Transgender(Confirmed Cases),Unknown(Confirmed Cases),Male(Deceased Cases),Female(Deceased Cases),Transgender(Deceased Cases),Unknown(Deceased Cases),Source1,Source2
0,17/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,1403.0,Samples Sent,12,1210,181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/2550,https://dhs.andaman.gov.in/
1,24/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2679.0,Samples Sent,27,NaN,246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3147?single,NaN
2,27/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2848.0,Samples Sent,33,NaN,106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3365?single,NaN
3,01/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,3754.0,Samples Sent,33,NaN,199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/3781,NaN
4,16/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,6677.0,Samples Sent,33,NaN,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://t.me/indiacovid/4925,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19206,27/10/2021,West Bengal,10502449.0,8536852,NaN,19039301.0,Tested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19207,28/10/2021,West Bengal,10524572.0,8560166,NaN,19084738.0,Tested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19208,29/10/2021,West Bengal,10551167.0,8582588,NaN,19133755.0,Tested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19209,30/10/2021,West Bengal,10575472.0,8605414,NaN,19180886.0,Tested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin
19210,31/10/2021,West Bengal,10600373.0,8627930,NaN,19228303.0,Tested,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin

In [18]:
tested_icmr_df = pd.read_csv('https://data.covid19india.org/csv/latest/tested_numbers_icmr_data.csv')
tested_icmr_df

,Update Time Stamp,Tested As Of,Daily RTPCR Samples Collected_ICMR Application,Total RTPCR Samples Collected_ICMR Application,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Tests conducted by Private Labs,Positive cases from samples reported,Sample Reported today,...,Total Sessions Conducted,Total Doses Provided to States/UTs,Total Vaccine Consumption Including Wastage,Total Doses Available with States/UTs,Total Doses Available with States/UTs & Private Hospitals,Total Doses In Pipeline,Source,Source 2,Source 3,Source 4
0,13/03/2020 00:00:00,13/03/2020,NaN,NaN,6500.0,5900.0,78,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Press_Release_ICMR_13March2020.pdf,NaN,NaN,NaN
1,18/03/2020 18:00:00,18/03/2020,NaN,NaN,13125.0,12235.0,150,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ICMR_website_update_18March_6PM_IST.pdf,NaN,NaN,NaN
2,19/03/2020 10:00:00,19/03/2020,NaN,NaN,13316.0,12426.0,168,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf,NaN,NaN,NaN
3,19/03/2020 18:00:00,19/03/2020,NaN,NaN,14175.0,13285.0,182,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ICMR_website_update_19March_6PM_IST.pdf,NaN,NaN,NaN
4,20/03/2020 10:00:00,20/03/2020,NaN,NaN,14376.0,13486.0,206,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ICMR_website_update_20March_10AM_IST.pdf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,28/10/2021 09:00:00,27/10/2021,632670.0,283816296.0,604498405.0,NaN,NaN,NaN,NaN,1290900,...,10362667.0,1.080035e+09,NaN,118118421.0,NaN,NaN,https://twitter.com/ICMRDELHI/status/145356328...,NaN,https://www.pib.gov.in/PressReleasePage.aspx?P...,https://www.pib.gov.in/PressReleasePage.aspx?P...
597,29/10/2021 09:00:00,28/10/2021,630305.0,284446601.0,605885769.0,NaN,NaN,NaN,NaN,1387364,...,10457932.0,1.096312e+09,NaN,123153481.0,NaN,NaN,https://twitter.com/ICMRDELHI/status/145391941...,NaN,https://www.pib.gov.in/PressReleasePage.aspx?P...,https://www.pib.gov.in/PressReleasePage.aspx?P...
598,30/10/2021 09:00:00,29/10/2021,609195.0,285055796.0,607062619.0,NaN,NaN,NaN,NaN,1176850,...,10530690.0,1.111397e+09,NaN,127362006.0,NaN,NaN,https://twitter.com/ICMRDELHI/status/145428456...,NaN,https://www.pib.gov.in/PressReleseDetail.aspx?...,https://www.pib.gov.in/PressReleasePage.aspx?P...
599,31/10/2021 09:00:00,30/10/2021,541094.0,285596890.0,608319915.0,NaN,NaN,NaN,NaN,1257296,...,10601975.0,1.119878e+09,NaN,130066651.0,NaN,NaN,https://twitter.com/ICMRDELHI/status/145464885...,NaN,https://www.pib.gov.in/PressReleseDetail.aspx?...,https://www.pib.gov.in/PressReleasePage.aspx?P...
600,01/11/2021 09:00:00,31/10/2021,256641.0,285853531.0,609201294.0,NaN,NaN,NaN,NaN,881379,...,10632634.0,1.129358e+09,NaN,134561536.0,NaN,NaN,https://twitter.com/ICMRDELHI/status/145501364...,NaN,https://www.pib.gov.in/PressReleasePage.aspx?P...,https://www.pib.gov.in/PressReleasePage.aspx?P...

In [20]:
icmr_labs_df = pd.read_csv('https://data.covid19india.org/csv/latest/icmr_labs_statewise.csv')
icmr_labs_df

,Unnamed: 0,Unnamed: 1,Andaman and Nicobar Islands,Unnamed: 3,Andhra Pradesh,Unnamed: 5,Arunachal Pradesh,Unnamed: 7,Assam,Unnamed: 9,...,West Bengal,Unnamed: 73,Mobile Vans,Unnamed: 75,Duplicates,Unnamed: 77,Total,Unnamed: 79,Changes,Unnamed: 81
0,NaN,NaN,Govt,Private,Govt,Private,Govt,Private,Govt,Private,...,Govt,Private,Govt,Private,Govt,Private,Govt,Private,Govt,Private
1,04/05/2020,RT-PCR,1,0,10,0,1,0,7,0,...,10,4,0,0,NaN,NaN,263,101,-,-
2,NaN,TrueNat,1,0,38,0,0,0,0,0,...,0,0,0,0,NaN,NaN,44,0,-,-
3,NaN,CBNAAT,1,0,0,0,0,0,0,0,...,1,2,0,0,NaN,NaN,13,13,-,-
4,11/05/2020,RT-PCR,1,0,10,0,1,0,7,0,...,11,7,0,0,-1,NaN,278,119,15,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,NaN,TrueNat,2,0,62,1,20,2,3,23,...,43,13,0,0,1,-5,606,244,5,5
87,NaN,CBNAAT,2,0,0,1,0,0,0,1,...,0,8,0,0,1,1,37,91,2,-2
88,NaN,RT-PCR,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-512,-619
89,NaN,TrueNat,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-606,-244
90,NaN,CBNAAT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-37,-91

In [21]:
src_df = pd.read_csv('https://data.covid19india.org/csv/latest/sources_list.csv')
src_df

,Region,State_Code,District,Source_1,Source_2,Source_3,Source_4
0,Telangana,TG,NaN,http://twitter.com/Eatala_Rajender/,https://covid19.telangana.gov.in/announcements...,http://124.124.103.93/COVID/home.htm,NaN
1,Tripura,TR,NaN,https://covid19.tripura.gov.in/Visitor/ViewSta...,NaN,NaN,NaN
2,Mizoram,MZ,NaN,http://twitter.com/dipr_mizoram/,https://dipr.mizoram.gov.in,NaN,NaN
3,Andhra Pradesh,AP,NaN,https://twitter.com/ArogyaAndhra,http://hmfw.ap.gov.in/covid_dashboard.aspx,NaN,NaN
4,Bihar,BR,NaN,https://twitter.com/BiharHealthDept,https://twitter.com/PIB_Patna,NaN,NaN
...,...,...,...,...,...,...,...
766,West Bengal,WB,Purba Bardhaman,NaN,NaN,NaN,NaN
767,West Bengal,WB,Purba Medinipur,NaN,NaN,NaN,NaN
768,West Bengal,WB,Purulia,NaN,NaN,NaN,NaN
769,West Bengal,WB,South 24 Parganas,NaN,NaN,NaN,NaN
770,West Bengal,WB,Uttar Dinajpur,NaN,NaN,NaN,NaN

In [22]:
icmr_rtpcr_df = pd.read_csv('http://data.covid19india.org/csv/latest/icmr_rtpcr_tests_daily.csv')
icmr_rtpcr_df

,State,01/06/2020,02/06/2020,03/06/2020,04/06/2020,05/06/2020,06/06/2020,07/06/2020,08/06/2020,09/06/2020,...,14/02/2021,15/02/2021,16/02/2021,17/02/2021,18/02/2021,19/02/2021,20/02/2021,21/02/2021,22/02/2021,23/02/2021
0,Andaman and Nicobar Islands,1986,2256,2463,2577,2891,3125,3390,3522,3918,...,52125,52309,52555,52909,53147,53430,53535,53591,53762,53852
1,Andhra Pradesh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arunachal Pradesh,7600,7997,8533,8990,9743,10309,10621,11093,11585,...,66074,66181,66338,66395,66479,66518,66536,66554,66743,66776
3,Assam,88353,94722,101812,109188,115723,123677,130689,138066,145082,...,5186163,5194815,5201299,5209397,5217385,5225719,5233821,5236923,5246560,5254213
4,Bihar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Chandigarh,147,162,162,167,225,270,296,329,395,...,80596,81029,81477,81953,82460,82938,83445,83684,84248,84835
6,Chhattisgarh,36761,39794,43047,46758,49708,51762,52859,54521,55695,...,1811521,1821380,1830686,1839079,1849048,1858954,1868372,1872775,1883418,1893972
7,Dadra & Nagar Haveli,2985,3083,3390,4019,4809,5361,5730,5987,6369,...,67617,67770,67982,68161,68755,69255,69405,69481,69713,69853
8,Daman and Diu,2831,2975,3152,3396,3623,3750,3928,4206,4636,...,43595,43709,43824,43955,44071,44167,44262,44308,44427,44554
9,Delhi,51574,55245,58062,59904,61991,63994,65759,68939,72621,...,5334032,5376792,5416923,5459461,5503139,5546282,5585534,5614470,5658958,5702273
10,Goa,8901,10428,11362,12339,13572,14552,16078,17408,19180,...,198436,199032,199582,200047,200518,201001,201392,201547,202063,202479
11,Gujarat,123802,129228,134697,140160,145405,150716,154505,159463,164588,...,1860328,1866406,1872482,1878224,1883595,1889485,1894956,1898058,1904736,1911762
12,Haryana,37431,41672,45417,48609,51528,54915,57289,61644,65335,...,4324607,4343090,4350984,4368790,4386882,4404437,4419428,4424791,4441441,4459751
13,Himachal Pradesh,33430,35269,36650,37769,38617,40153,40679,42090,43400,...,943452,949584,954326,959970,966819,973045,979056,979987,986251,991393
14,Jammu and Kashmir,33318,35423,37146,39449,41287,43164,44337,46117,48069,...,809983,812849,814995,816830,819246,821357,823349,824137,826518,829510
15,Jharkhand,47515,49176,50453,51874,53302,54831,55553,57016,58664,...,5102948,5121449,5134733,5148242,5161461,5175769,5187533,5192963,5207456,5222567
16,Karnataka,289987,298230,307202,314812,322553,330677,334360,343985,351527,...,17548667,17611334,17671283,17732087,17796847,17857047,17917310,17946479,18028329,18112074
17,Kerala,14754,16056,17233,18392,19528,20946,21879,23239,24741,...,298772,298772,298772,298772,298772,298772,298772,298772,298772,298772
18,Ladakh,4854,5487,6004,6322,6730,6932,7024,7193,7306,...,55713,56020,56142,56395,56639,56873,56967,57013,57294,57435
19,Lakshadweep,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Madhya Pradesh,108324,114605,121046,126867,133225,140781,147192,153980,160521,...,5016165,5029299,5041378,5053812,5066734,5079353,5091961,5099157,5112866,5127237
21,Maharashtra,111612,117564,122150,127188,133392,139372,143389,151262,158556,...,5181042,5204964,5229775,5255682,5284779,5304872,5338094,5353826,5399011,5445028
22,Manipur,15949,17663,19294,20869,22304,23694,25121,27049,28320,...,347832,348601,349522,350367,351429,352437,353183,353423,354402,355318
23,Meghalaya,1747,1814,1850,1884,1973,1995,2041,2055,2111,...,12217,12227,12241,12264,12267,12273,12283,12288,12293,12306
24,Mizoram,1472,1812,2212,2891,3500,4030,4528,5112,5866,...,220092,221285,221828,222810,223681,224722,225357,225591,226821,227522
25,Nagaland,2025,2249,2492,2748,2966,3235,3426,3676,3914,...,100282,100668,100851,100990,101125,101239,101364,101477,101722,101884
26,Odisha,102581,106037,108860,111255,114408,116966,119236,122417,125873,...,7878242,7896570,7914213,7935541,7956670,7977277,7996652,8010696,8033115,8056059
27,Puducherry,1337,1419,1554,1647,1740,1811,1831,1903,2041,...,267006,268046,268853,269883,270868,271786,272538,272823,273722,274804
28,Punjab,42036,46476,51661,57457,62490,68533,72228,80622,88647,...,4587713,4608156,4628288,4647347,4665466,4685048,4702084,4710162,4731405,4753844
29,Rajasthan,217054,229402,241030,250726,262556,274495,281906,294645,307178,...,5854055,5872230,5887399,5903402,5921629,5939130,5956885,5963434,5982335,5999401
30,Sikkim,2796,3310,3493,3741,4046,4321,4479,4839,5106,...,49233,49365,49510,49609,49715,49836,49925,49952,50061,50185
31,Tamil Nadu,35570,40994,46231,52388,59607,66398,69940,78199,86657,...,14725343,14778392,14831045,14881236,14931732,14982112,15027586,15055257,15106198,15157084
32,Telangana,0,0,0,0,0,0,0,0,0,...,86084,86199,86261,86319,86369,86411,86452,86452,86575,86600
33,Tripura,2918,3174,3339,3583,3880,4090,4132,4506,4756,...,322627,322862,322926,323132,323328,323555,323770,323883,324112,324286
34,Uttar Pradesh,0,0,0,0,0,0,0,0,0,...,0,0,0,299463,300688,302099,303410,303993,305349,306705
35,Uttarakhand,21972,23458,24090,24872,25508,26324,26900,28174,28997,...,2074608,2084196,2097870,2114479,2121709,2131442,2138326,2140976,2149375,2157499
36,West Bengal,170784,176870,182302,190067,196279,202510,204269,210881,217964,...,4344840,4361801,4370915,4385534,4400290,4414879,4428798,4435296,4451621,4466550
37,Total,1624406,1714050,1798389,1882908,1969109,2057689,2115594,2214138,2309618,...,94852010,95207382,95527258,96172537,96523742,96863520,97192341,97364219,97761672,98158383

In [23]:
vac_stwise_df = pd.read_csv('http://data.covid19india.org/csv/latest/vaccine_doses_statewise_v2.csv')
vac_stwise_df
vac_cowin_stwise_df = pd.read_csv('http://data.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv')
vac_cowin_stwise_df
vac_cowin_dstwise_df = pd.read_csv('http://data.covid19india.org/csv/latest/cowin_vaccine_data_districtwise.csv')
vac_cowin_dstwise_df

C:\Users\grees\AppData\Local\Temp\ipykernel_37776\1966934102.py:5: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895) have mixed types. Specify dtype option on import or set low_memory=False.
  vac_cowin_dstwise_df = pd.read_csv('http://data.covid19india.org/csv/latest/cowin_vaccine_data_districtwise.csv')

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,31/10/2021,31/10/2021.1,31/10/2021.2,31/10/2021.3,31/10/2021.4,31/10/2021.5,31/10/2021.6,31/10/2021.7,31/10/2021.8,31/10/2021.9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total Individuals Registered,Sessions,Sites,First Dose Administered,...,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male(Doses Administered),Female(Doses Administered),Transgender(Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered)
1,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745,0,0,0,...,45707,0,0,25394,20313,24718,20986,3,0,45707
2,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496,0,0,0,...,138467,0,0,78945,59522,71980,66468,19,0,138467
3,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028,2,2,23,...,309984,0,0,189662,120322,166484,143447,53,0,309984
4,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781,28,26,287,...,4301558,332000,120,2690082,1611476,1986132,2313068,2358,524447,3777111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,2172251,60209,103,1679941,492310,1099587,1072270,394,248006,1924245
751,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,1120160,5850,3,805171,314989,545163,574759,238,127371,992789
752,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,4100518,11152,28,2968418,1132100,2090647,2009234,637,324158,3776360
753,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,NaN,NaN,NaN,NaN,...,1777639,801,1,1341457,436182,916761,860544,334,234002,1543637
754,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,2467358,5740,8,1789611,677747,1309845,1156924,589,244326,2221370